node.js 
@mui/material@5.15.10, @mui/core-downloads-tracker@5.15.10, @mui/system@5.15.9, @mui/private-theming@5.15.9, @mui/styled-engine@5.15.9, @mui/utils@5.15.9, @mui/base@5.0.0-beta.36

mui/styled-engine@5.15.9, @mui/utils@5.15.9
├── https://github.com/sponsors/sindresorhus
│   └── escape-string-regexp@4.0.0, import-fresh@3.3.0, parse-json@5.2.0
└── https://github.com/sponsors/ljharb
    └── resolve@1.22.8, is-core-module@2.13.1, function-bind@1.1.2, supports-preserve-symlinks-flag@1.0.0



├── https://opencollective.com/mui-org
│   └── @mui/material@5.15.10, @mui/base@5.0.0-beta.36, @mui/core-downloads-tracker@5.15.10, @mui/system@5.15.9, @mui/private-theming@5.15.9, @mui/styled-engine@5.15.9, @mui/utils@5.15.9
├── https://github.com/sponsors/sindresorhus
│   └── escape-string-regexp@4.0.0, import-fresh@3.3.0, parse-json@5.2.0
└── https://github.com/sponsors/ljharb
    └── resolve@1.22.8, is-core-module@2.13.1, function-bind@1.1.2, supports-preserve-symlinks-flag@1.0.0
