# Node.js version
node.js v16.20.2

# Axios - Promise-based HTTP client for making requests to Django backend from React
axios

# React Router - Declarative routing for React applications
react-router-dom

# Material-UI - UI library for React that provides various components and utilities
@mui/material@5.15.10
@mui/core-downloads-tracker@5.15.10
@mui/system@5.15.9
@mui/private-theming@5.15.9
@mui/styled-engine@5.15.9
@mui/utils@5.15.9
@mui/base@5.0.0-beta.36

# Material-UI Icons - Provides icon components for Material-UI applications
npm install @mui/icons-material

# Additional Material-UI dependencies
@mui/styled-engine@5.15.9
@mui/utils@5.15.9

