/* Global body styles to reset margin and set a base font family */
body {
  margin: 0; /* Removes default browser margin */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; /* Sets a stack of font-families for better cross-browser compatibility */
  -webkit-font-smoothing: antialiased; /* Improves text rendering in Webkit browsers */
  -moz-osx-font-smoothing: grayscale; /* Improves text rendering in Firefox on macOS */
}

/* Specific styles for elements using the <code> tag */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; /* Sets a monospace font for code elements */
}
